language: python

cache: pip

matrix:
  include:
    - os: linux
      python: 3.5
      env: TOXENV=py35

    - os: linux
      python: 3.6
      env: TOXENV=py36

    - os: linux
      python: 3.7
      env: TOXENV=py37

    - os: linux
      python: 3.8
      env: TOXENV=py38

    - os: linux
      python: 3.9-dev
      env: TOXENV=py39

    - os: linux
      python: pypy3
      env: TOXENV=pypy3

    - os: linux
      python: 3.7
      env: TOXENV=cov
      after_success:
        - travis_retry pip install coveralls
        - coveralls

    - os: osx
      language: generic
      env: TOXENV=py37

install:
  - travis_retry bash -x .travis/install.sh

script:
  - tox

notifications:
  slack:
    secure: f87TSzbMgePCkZJx3aJOiQqHCH+Me5PPI9Y/Wxsy5Io+pnYhi6P7WcCTLLljlXB4rEiBDXGtx4K0j/nRmixdtNQfyRURShBVLZGattV0wQwaaWaZeWFoq6ndePHTlQIkHRCWxJaq1LyqIghbj3Y8VKJRzdGzyEFPt9GyQASltQkmPeKwNnpBWqET5a0Bu2djD3bTsuoADHMr5gAYxsPF/XuC11uoXJdkdMvQSJZLloLqfvBDz5DF4DEG7pZrnrFXlifHidxAUQgOfyfCFLogM5MlxfJUtGaP31sdQuwwrSW78FFVP+wGCxefyX/TkL/Q+YNFnKmfBWF6I8M7n2tUvkmH5IGpen3tc1/cw0lLiKkqoFqvUELZh/3d7qdrM4xPxksdiY8ZSX9h8lB8KcdhD4TLhA8+PSfEQoVBH1cbnCqDp/0DnbZc/i5+ETXl/akkK4kUb0f+uauwJjmk9Nvet1kPtDUwIn9l4XU1B4ek6BzPCLgbLk/FytZYDVQi2xYc/2E/oN0Cu5gwDjKnj4hb+owBVlDEQ/FACxqx4b+CFhemjvMl9lzlRWkM/5ZyFz81EbRdWvNMo07NRFYGltVhsxkANkO8QPOsLMYs6kdglDsKt3yaAdCvtNIrOR5JzhjtQLFxbSdHGaRHBz3qLFZHhXNfAYxMF2/Xnp9gqCcFE64=
